* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xcprogress {
    width: 300px;
    height: 20px;
    background: #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
}

.xcprogress-bar {
    width: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: cornflowerblue;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    transition: width .6s ease;
    border-radius: 4px;
    animation: xcprogress-bar-anim 2s linear infinite;
}

.xcprogress-bar-value {
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

@keyframes xcprogress-bar-anim {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}